{% extends "base.html" %}
{% block content %}
    <h1>Welcome to GameKata!</h1>
    <p style="font-size: 22px; line-height: 1.6; margin-bottom: 20px;">
        Welcome to the ultimate platform for Pygame enthusiasts! Here, you can easily upload your Pygame creations and dive into a diverse library of games made by developers like you. Our platform, powered by Django, offers a seamless experience for both uploading your games and enjoying countless hours of gameplay.
    </p>
    <p style="font-size: 18px; line-height: 1.6;">
        If you're new or need some guidance, check out our <a href="{% url 'tutorial' %}">tutorial</a> on how to upload your games and navigate the site effectively. Get started today, join our community, and let the games begin! Discover, create, and play with fellow gaming aficionados.
    </p>
    <hr>
    <p style="font-size: 18px; line-height: 1.6; margin-top: 20px;">
        Games for days...
    </p>
{% endblock %}